/* reset */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    /* border: 1px solid red; */
}

body{
    height: 100vh;
    background-color: #151922;
}

/* /reset */


/* macrostruttura top e bottom */

#top_box{
    display: flex;
    height: calc(100% - 90px);
}

#bottom_box{
    background-color: #282828;
    height: 90px;
}

/* /macrostruttura top e bottom */


/* struttura colonna sinistra */

.col_left{
    width: 50px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
}

.big_logo{
    display: none;
}

.logo{
    padding: 12px;
    margin-bottom: 10px;
}

.menu{
    color: #5b5b5b;
}

.icons{
    padding:0 8px;
}

.home{
    border-left: 2px solid #b5f84a;
}

.search:hover{
    border-left: 2px solid #b5f84a;    
}

.library:hover{
    border-left: 2px solid #b5f84a;    
}

.menu a{
    opacity: 0.5;
}

.menu h3{
    font-size: 16px;
    font-weight: 600;
    display: none;
}

.playlists{
    display: none;
}

.col_left_bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
}

.profile{
    display: flex;
    align-items: center;
}

.profile > a{
    width: 30px;
    margin: 12px 10px 8px 8px;
    opacity: 0.5;
}

.profile > h3{
    color: #5b5b5b; 
    font-size: 16px;   
    font-weight: 600;
    display: none;
}

hr{
    display: none;
    margin: 0 auto;
    width: 90%;
    color: #9a9a9a;
    margin-bottom: 10px;
}

.profile_2{
    display: flex;
    align-items: center;
    margin: 0 10px 20px 10px;
}

.profile_2 > a{
    width: 30px;
    margin-right: 10px;
    padding:0 4px;
}

.profile_2 > h3{
    color: white;
    font-size: 14px;
    font-weight: 400;
    display: none;
}

.img_profile{
    background-color: #656565;
    border-radius: 50%;
}

/* /struttura colonna sinistra */


/* struttura colonna destra */

.col_right{
    height: 100%;
    width: calc(100% - 50px)
}

    /* header */

.header{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    opacity: 0.9;
    width: 100%;
    background-color: #080b12;
}

#button_upgrade{
    padding:14px 40px;
    margin: 22px 70px 22px 16px;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 30px;
    background-color: transparent;
}

    /* /header */


    /* main */

.main{
    height: calc(100% - 90px);
    overflow: auto;
}

.nav{
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.nav > button{
    background-color: transparent;
    color: #66696e ;
    border: none;
    font-weight: 700;
    padding-bottom: 4px;
    /* border-bottom: 2px solid #adff2f; */
}


    /* /main */


/* /struttura colonna destra */



/* sezione responsive */



/* schermo small 576px - 768px */

@media screen and (min-width:576px){

    .col_left{
        width: 230px;
        height: 100%;
        background-color: black;
    }

    .logo{
        padding-right: 40px;
    }

    .small_logo{
        display: none;
    }

    .big_logo{
        display: block;
    }

    .menu{
        flex-direction: column;
        margin-bottom: 40px;
    }

    .menu a{
        width: 50px;
        padding: 8px;
    }

    .menu h3{
        display: contents;
        color: #858585;
        font-weight: 600;
    }

    .icons{
        display: flex;
        align-items: center;
    }

    .playlists{
        font-size: 10px;
        color: white;
        display: block;
    }

    .playlists > h2{
        margin-left: 15px;
        margin-bottom: 15px;
    }

    .new_playlist{
        display: flex;
        align-items: center;
        margin:0 15px 20px 15px;
    }

    .add_button{
        margin-right: 10px;
        width: 50px;
        height: 50px;
        background-color: #858585;
        border: 0;
    }

    .add_button > h4{
        font-family: "Montserrat", serif;
        font-size: 30px;
    }

    .new_playlist > h3{
        font-size: 16px;
        font-weight: 600;
        color: #858585;
    }

    .playlists > ul{
        font-weight: 600;
        font-size: 16px;
        color: #858585;
        line-height: 2rem;
        margin-left: 15px;
        list-style: none;

    }

    .profile > h3{
        display: contents;
    }

    hr{
        display: block;
    }
    
    .profile_2 > h3{
        display: contents;
    }

    .col_right{
        width: calc(100% - 230px);
    }

    #button_upgrade{
        margin-right: 250px;
    }

}

/* /schermo small 576px - 768px */


/* schermo medium 768px - 992px */

@media screen and (min-width:768px){}

/* /schermo medium 768px - 992px */


/* schermo large > 992px */

@media screen and (min-width:992px){}

/* /schermo large > 992px */



/* /sezione responsive */